<a href="https://colab.research.google.com/github/tawadesharad/Predicti-percentage-of-student-using-Supervised-Machine-Learning/blob/main/Prediction_using_supervised_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SPARK FOUNDATION**
**DATA SCIENCE AND BUSINESS ANALYTICS INTERNSHIP**

**Linear Regression with python Scikit Learn- Prediction using supervised 
machine learning.**

**Name- SHARAD SHANTARM TAWADE**

**Task-1 :- Predict the percentage of an student based on the numbers of study hours.**

#**Importing relevant libraries**

In [2]:
# Importing all the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
# Reading the dataset
df = pd.read_csv('https://raw.githubusercontent.com/AdiPersonalWorks/Random/master/student_scores%20-%20student_scores.csv')
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [7]:
# Checking null values
df.isnull== True

False

**From the above it is clear that there is no null values in the dataset.**